body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom right, #3490c2e1, #ffffff4d);
}

ul {
    list-style-type: none; 
    padding: 0;            
    margin: 0;             
}

li {
    display: flex;         
    align-items: center;   
    justify-content: space-between; 
    padding: 10px;       
    /* border-bottom: 1px solid #ccc;  */
}

input[type="checkbox"] {
    margin-right: 10px;   
}

button {
    margin-left: 10px;  
    padding: 5px 10px;  
    background-color: #007bff;
    color: white;         
    border: none;        
    border-radius: 5px;    
    cursor: pointer;       
    transition: background-color 0.3s;
    font-size: 18px;
}

button:hover {
    background-color: #0056b3; 
}

input[type="text"] {
    padding: 5px;          
    margin-right: 10px;    
    border: 1px solid #ccc; 
    border-radius: 5px;    
    font-size: 16px;
}

.habit-list {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

.habit-item {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
}

.habit-name {
    flex-grow: 1; 
}
.habit-container {
    align-items: center; 
    display: flex;
    width: 100%;
}

.habit-label {
    flex-grow: 1;
    font-size: 22px;
    margin-left: -560px;
}

.button-container {
    display: flex;
    gap: 10px; 
}

.divider {
    width: 100%;
    border: 1px solid #ccc;
}